VITE_MQTT_URL=wss://broker.emqx.io:8084/mqtt
VITE_MQTT_USERNAME=
VITE_MQTT_PASSWORD=
VITE_MQTT_CLIENT_ID=solar-pump-hmi-web
VITE_MQTT_BASE_TOPIC=plant/solar-pump/site-01
VITE_SUPABASE_URL=https://yortzwluxzilnvzgsqrj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_8aaRswza3x4cQ7vb2m9TfA_-imBLV0n
VITE_ENABLE_DEMO_MODE=False
